.todo_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: max(50%, 300px);

  .todo_list__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .todo_list__checkbox {
    cursor: pointer;
  }

  .todo_list__title {
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .todo_list__title.todo_list__title--checked {
    text-decoration: line-through;
  }

  .todo_list__button {
    margin-left: auto;
    padding: 4px 8px;
  }
}
